<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>会員テーブル</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid">
    <h1 style="font-size: 2.0rem;">python,Flask　{{ title }}</h1>
    <div style="max-width: 540px;">
        <form action="/{{ form_action }}" method="POST">
            <div class="form-group">
              <label for="exampleFormControlInput1">Name</label>
              <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="山田　太郎" value="{{ name }}" readonly>
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Age</label>
              <input type="text" name="age" class="form-control" id="exampleFormControlInput1" placeholder="25" value="{{ age }}" readonly>
              <input type="hidden" name="id" value="{{ id }}">
            </div>
            <input type="submit" value="{{ submit_value }}" class="btn btn-primary">
          </form>
    </div>
  </div>
</body>
</html>